/*  polices */

@font-face {
    font-family: "Kaph";
    src: url('/fonts/Kaph-Regular.ttf') format('truetype');
}

body {
    background: linear-gradient(135deg, #f8ffae 0%, #43c6ac 100%);
    background-size: cover;
    min-height: 100vh;
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: 0;
    padding: 40px;
    background-image: url("/images/fond.png");
    background-position: top;
    font-family: "Kaph";

}

h1 {
    text-align: center;
    color: #FAC714;
    margin-bottom: 0;
    letter-spacing: 2px;
    font-family: "Kaph";

    
}
h2 {
    text-align: center;
    color: #B041BA;
    margin-top: 8px;
    margin-bottom: 30px;
    letter-spacing: 2px;
    font-family: "Kaph";
    font-size: 40px;

}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
}

th,
td {
    padding: 16px 12px;
    text-align: center;
}

th {
    background: #B041BA;
    color: #fff;
    font-size: 1.1em;
    letter-spacing: 1px;
}

tbody tr:first-child {
    /* background: linear-gradient(135deg, #ffd700 0%, #ffed4e 50%, #ffd700 100%); */
    /* background: #ffed4e; */
}

tbody tr:nth-child(2) {
    /* background: linear-gradient(135deg, #c0c0c0 0%, #e8e8e8 50%, #c0c0c0 100%); */
    /* background: #e8e8e8; */
}

tbody tr:nth-child(3) {
    /* background: linear-gradient(45deg, #e27a2f 0%, #cd7f32 30%, #b8860b 70%, #8b4513 100%); */
    /* background: #e27a2f; */
}

tbody tr:nth-child(1), tbody tr:nth-child(2), tbody tr:nth-child(3) {
    td:first-child {
        -webkit-text-stroke: 4px #B041BA;
        color: white;
        /* contour doré */
        font-weight: 900;
        font-size: 30px;

        paint-order: stroke fill;

    }
}


tr:nth-child(even) {
    background: #f2f2f2;
}

td:first-child {
    font-weight: bold;
    color: #B041BA;
    font-size: 1.2em;
}

.table-responsive {
    width: 100%;
    overflow-x: auto;
}

@media (max-width: 600px) {
    table {
        width: 100%;
        font-size: 0.95em;
    }
    th, td {
        padding: 8px 6px;
    }
    body {
        padding: 10px;
    }
    th:nth-child(3), td:nth-child(3) {
        display: none;
    }
}